In [61]:
import pandas as pd

In [62]:
# Loading the data
data = pd.read_csv('wifi_flow.csv')

In [63]:
data

,dt_year,dt_month,dt_half,season_code,move_path,total_path_count,total_duplicate_path_count
0,2016,12.0,2.0,4.0,Manjanggul->Bijarim,1.0,1.0
1,2016,12.0,2.0,4.0,Manjanggul->Seopjikoji,5.0,5.0
2,2016,12.0,2.0,4.0,Manjanggul->Seongsanilchul Provincial Marine Park,12.0,12.0
3,"2016,12,2,4,""Manjanggul->Jeongbang Waterfall, ...",NaN,NaN,NaN,NaN,NaN,NaN
4,2016,12.0,2.0,4.0,Manjanggul->Jusangjeolli,1.0,1.0
...,...,...,...,...,...,...,...
36542,2017,9.0,2.0,3.0,Hyuaeri->Jeju Pony Town,1.0,1.0
36543,"2017,9,2,3,""Hyuaeri->Cheonjiyeon Waterfall, Sa...",NaN,NaN,NaN,NaN,NaN,NaN
36544,2017,9.0,2.0,3.0,Hyuaeri->Camellia Hill,1.0,1.0
36545,"2017,9,2,3,""Hyuaeri->Keuneong->Seongsan-eup, S...",NaN,NaN,NaN,NaN,NaN,NaN
36546,2017,9.0,2.0,3.0,Hyuaeri->Hayo soesokkak the beach,1.0,1.0

In [64]:
print(data.head())

                                             dt_year  dt_month  dt_half  \
0                                               2016      12.0      2.0
1                                               2016      12.0      2.0
2                                               2016      12.0      2.0
3  2016,12,2,4,"Manjanggul->Jeongbang Waterfall, ...       NaN      NaN
4                                               2016      12.0      2.0

   season_code                                          move_path  \
0          4.0                                Manjanggul->Bijarim
1          4.0                            Manjanggul->Seopjikoji
2          4.0  Manjanggul->Seongsanilchul Provincial Marine Park
3          NaN                                                NaN
4          4.0                           Manjanggul->Jusangjeolli

   total_path_count  total_duplicate_path_count
0               1.0                         1.0
1               5.0                         5.0
2              12.0                        12.0
3               NaN                         NaN
4               1.0                         1.0

In [65]:
# Checking for missing values
missing_values = data.isnull().sum()
print(missing_values)

dt_year                           0
dt_month                      24531
dt_half                       24531
season_code                   24531
move_path                     24531
total_path_count              24531
total_duplicate_path_count    24531
dtype: int64

In [66]:
# Removing rows with missing values
data_cleaned = data.dropna()

In [67]:
# Selecting numeric columns
numeric_columns = data.select_dtypes(include='number')

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
# Defining features and target variable
features = data_cleaned[['dt_year', 'dt_month', 'dt_half', 'season_code']]
target = data_cleaned['total_path_count']

In [70]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [71]:
from sklearn.linear_model import LinearRegression

In [72]:
# Creating a linear regression model
model = LinearRegression()

# Training the model
model.fit(X_train, y_train)

LinearRegression()

In [73]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [74]:
# Making predictions on the test set
predictions = model.predict(X_test)

In [75]:
# Evaluating the model
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

In [76]:
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R-squared: {r2}')

MAE: 2.7673309369952643
MSE: 53.61544610937203
R-squared: 0.00011219463755873793

In [77]:
import pandas as pd

In [78]:
# Loading the data
data = pd.read_csv('wifi_flow.csv')

In [79]:
# Printing the shape before cleaning
print("Shape before cleaning:", data.shape)

Shape before cleaning: (36547, 7)

In [80]:
# Checking for missing values
missing_values = data.isnull().sum()
print("Missing values before cleaning:")
print(missing_values)

Missing values before cleaning:
dt_year                           0
dt_month                      24531
dt_half                       24531
season_code                   24531
move_path                     24531
total_path_count              24531
total_duplicate_path_count    24531
dtype: int64

In [81]:
# Removing rows with missing values
data_cleaned = data.dropna()

# Printing the shape after cleaning
print("Shape after cleaning:", data_cleaned.shape)

Shape after cleaning: (12016, 7)

In [83]:
# Checking for missing values in the cleaned data
missing_values_cleaned = data_cleaned.isnull().sum()
print("Missing values in cleaned data:")
print(missing_values_cleaned)

Missing values in cleaned data:
dt_year                       0
dt_month                      0
dt_half                       0
season_code                   0
move_path                     0
total_path_count              0
total_duplicate_path_count    0
dtype: int64